h1 {
    text-align: center;
}

div#sign button {
    height: 25px;
    line-height: 20px;
    width: 28px;
}

input[type="text"] {
    width: 60%;
}

#generate {
    width: 15%;
}

table {
    margin: 0 auto;
    border: 1px solid #4400ff;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #4400ff;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}